@charset "utf-8";

/* 
    [id, class naming rule : PascalCase, snake_case는 모든 속성에서 사용하지않음]
    id = camelCase
    class = kebab-case

    [속성 나열 순서]
    display 및 관련 속성, margin, padding, width, height, position 및 관련 속성, font 및 관련 속성, background, animation ... etc 를 최대한 준수함

    [반응형 작업 위해 특수 케이스 제외하고 rem 적용]
    1rem = 16px
*/

/* footer */
footer{
    background-color: #f5f5f5;
    margin-top: 3rem;
}
footer .ico-footer-logo + .address-area{
    margin-left: 40px;
}
footer .info-wrap{
    display: flex;
    align-items: center;
    background-color: #6c7180;
    justify-content: center;
    padding: 1.2rem 0;
}
footer .info-area ul{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
footer .info-area ul>li:first-child .info-list{
    padding-left: 0;
    border-left: 0;
}
footer .info-area .info-list{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color:#fff;
    padding: 0 1.2rem;
    border-left: 1px solid #fff;
}
footer .city-info-area{
    display: flex;
    align-items: center;
    padding:2rem 0;
}
footer .city-info-area .ico-gy + .address-area{
    margin-left: 40px;
}
footer .city-info-area address{
    display: flex;
    flex-flow: column;
}
footer .city-info-area address *{
    font-size: 0.85rem;
    line-height: 1.7;
}
footer .city-info-area .address-txt{
    font-weight: 600;
}
footer .city-info-area .copyright-txt{
    color:#6c7180;
}