@charset "utf-8";

html,body,div,ul,ol,li,dl,dt,dd,button,a,p,span,section,article,h1,h2,h3,h4,h5,h6,address{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-weight: normal;
    font-style: normal;
}
button{
    background-color: transparent;
    border: 0;
    outline: none;
}
li{
    list-style-type: none;
}
a{
    outline: none;
    text-decoration: none;
}
img{
    max-width: 100%;
    image-rendering: -webkit-optimize-contrast;
}